 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url(http://www.zastavki.com/pictures/1920x1200/2009/World_Africa_African_savanna_019014_.jpg)
}

container {
  size: 100%;
  background-image: url(http://www.zastavki.com/pictures/1920x1200/2009/World_Africa_African_savanna_019014_.jpg);
}
.good {
  border: solid 1px black;
  float: left;
  font-size: 60px;
}
.bad {
  border: solid 2px red;
  float: right;
  font-size: 60px;
}
