 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url(http://www.zastavki.com/pictures/1920x1200/2009/World_Africa_African_savanna_019014_.jpg)
}

container {
  size: 100%;
  background-image: url(http://www.zastavki.com/pictures/1920x1200/2009/World_Africa_African_savanna_019014_.jpg);
}
.greetings {
  text-align: center;
  color: black;
  font-size: 30px;
}
.good {
  border: solid 2px gray;
  float: left;
  font-size: 30px;
  color: white;
}
.bad {
  border: solid 2px yellow;
  float: right;
  font-size: 30px;
  color: yellow;
}
.lionbut {
  float: right;
}
img {
  height: 35px;
  width: 35px;
}
button {
  background-color: transparent;
}
